{
	auto_https off
}

:80 {
	handle /api/* {
		reverse_proxy api:4000 {
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	reverse_proxy web:3000
}
